/* ------ CSS - Remove Green Screen ------ */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  /* darkest grey - used for headings */
  --color-grey-1: hsla(209, 61%, 16%, 0.5);
  /* grey used for paragraphs */
  --color-grey-5: hsl(210, 22%, 49%);
  --color-grey-10: hsl(210, 36%, 96%);
  --color-white: hsla(0, 0%, 100%, 0.5);
  --fontfamily-primary: "Roboto", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.75rem;
  --max-width: 1170px;
  --fixed-width: 620px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--color-grey-10);
  background-color: #cbe8c5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23135a03' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  color: var(--color-white);
}
h1 {
  filter: drop-shadow(-1px 5px 2px rgba(0, 0, 0, 0.2));
  font-family: var(--fontfamily-primary);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  text-align: center;
  line-height: 1.25;
  font-size: 3rem;
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
  position: absolute;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
    line-height: 1;
  }
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
}
#c1 {
  display: none;
}
#c2 {
  border-radius: var(--radius);
  background-image: url(img/lucie-coste-unsplash.jpg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
div {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}
#video {
  border-radius: var(--radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
